body{
  background-color: hsl(120, 100%, 25%);
}


.container{
  max-width: 600px;
}
.btn{
  background: #43d9be;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus{
  outline: none !important;
}

.username{
  color: red;
  display: block;
}



.chat-list{
  overflow-y: scroll;
  height: 300px;
}